<header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div>
        <a href="http://localhost:4200/login" class="navbar-brand">Akhilesh's ToDo</a>
    </div>

    <ul class="navbar-nav">
        <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome/akhilesh" class="nav-link">Home</a></li>
        <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">ToDos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
    </ul>
</nav>

</header>

