<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

    <div>
        User Name: <input type="text" name="username" [(ngModel)]="username" /> <!-- ngModel is Angular directive -->
        Password: <input type="password" name="password" [(ngModel)]="password" />
        <!-- <button class="btn btn-success" (click)=handleLogin()>Login</button> -->
        <button class="btn btn-success" (click)=handleBasicAuthLogin()>Login</button>
    </div>



</div>