<div class="container">
        
        Welcome {{param}} to our Awesome App!
        You can manage your todos <a routerLink="/todos">here</a>
</div>

<div class="container">
Click here to get customised message 
<button class= ".btn btn-success" (click)="getWelcomeMessageWithParam()">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageService">        
        <h2>customised Welcome message</h2>
        {{welcomeMessageService}}       
</div>

<div class="container" *ngIf="errorMessage">        
        
        {{errorMessage}}       
</div>
